body
{
	background-color: rgb(20,20,20);
	overflow: hidden;
	font-family:  Roboto, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

.useTextColour
{
	font-weight: 200;
}

.meme
{
	position: fixed;
    bottom: 0;
    padding-right: 20px;
    width: 100%;
    font-size: 12pt;
    text-align: right;
}

#list1 > li,#list2 > li,#list3 > li
{
	padding: 10px; 
	min-height: 2.8em;
	text-align: left;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#list1 > li:nth-child(even),#list2 > li:nth-child(even),#list3 > li:nth-child(even)
{
	background-color: rgb(25,25,25);
}

#list1 > li:nth-child(even),#list2 > li:nth-child(even),#list3 > li:nth-child(even)
{
	background-color: rgb(30,30,30);
}